body {
  display: flex;
  justify-content: center;
  /* background-image: url(chat-box.jpg); */
  /* background-image: #ffffff; */
  background-image: url(social-media.jpg);
  background-repeat:no-repeat;
  height: auto  ;
  background-size: cover;
  padding: 3%;
  position: relative;
  font-style: oblique;
}
#main-box {
  height: 600px;
  width: 500px;
  overflow-y: scroll;
  border: 2px solid black;
  /* background-image: radial-gradient(skyblue, pink, rgb(235, 235, 149)); */
 
  box-shadow: 20px 20px 20px rgb(53, 52, 52);
}
.heading {
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}

#message-container {
  width: 80%;
  max-width: 1200px;
  justify-content: center;
  font-size: x-large;
}
#message-input {
  position: relative;
  width: 440px;
}
#send-container {
  flex-grow: 1;
  display: flex;
  position: absolute;
}
